<!-- Hero Section -->

<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="/images/hero/iphone.jpg" style="width: 100%" />
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="/images/hero/macbook.jpg" style="width: 100%" />
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="/images/hero/samsungtab.jpg" style="width: 100%" />
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br />

<!-- The dots/circles -->
<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<!-- End Hero Section-->

<!-- About Section -->
<div class="container-fluid about bg-light py-5 mb-3">
  <div class="container py-5">
      <div class="row g-5 align-items-center">
          <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
              <div class="about-img pb-5 ps-5">
                  <img src="/images/about/about-1.jpg" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                  <div class="about-img-inner">
                      <img src="/images/about/about-2.jpg" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                  </div>
                  <div class="about-experience">35 years experience</div>
              </div>
          </div>
          <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
              <div class="section-title text-start mb-5">
                  <h4 class="sub-title pe-3 mb-0">About Us</h4>
                  <h1 class="display-3 mb-4">We are Ready to Help Solve your Software and Hardware problems!.</h1>
                  <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                  <div class="mb-4">
                      <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Refresing to get such a personal touch.</p>
                      <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Duis aute irure dolor in reprehenderit in voluptate.</p>
                      <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                  <a href="#contact" class="btn btn-primary rounded-pill text-white py-3 px-5">Call Now</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End About Section -->

<!-- Repairs Section -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img
          src="/images/repairs/hp_1.jpg"
          alt="Hp Laptop"
          style="width: 100%"
        />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img src="/images/repairs/2.jpg" alt="Hp Laptop" style="width: 100%" />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img src="/images/repairs/3.jpg" alt="Hp Laptop" style="width: 100%" />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img src="/images/repairs/4.jpg" alt="Hp Laptop" style="width: 100%" />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img src="/images/repairs/5.jpg" alt="Hp Laptop" style="width: 100%" />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card-w">
        <img src="/images/repairs/6.jpg" alt="Hp Laptop" style="width: 100%" />
        <h1>HP Laptops</h1>
        <p class="price">R150.00</p>
        <p>We repair all types of hp products</p>
        <p><button>Call Now</button></p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container-fluid contact py-5">
  <div class="container py-5">
      <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="sub-style mb-4">
              <h4 class="sub-title text-white px-3 mb-0">Contact Us</h4>
          </div>
          <p class="mb-0 text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
      </div>
      <div class="row g-4 align-items-center">
          <div class="col-lg-5 col-xl-5 contact-form wow fadeInLeft" data-wow-delay="0.1s">
              <h2 class="display-5 text-white mb-2">Get in Touch</h2>
              <p class="mb-4 text-white"><a class="text-dark fw-bold" href="https://htmlcodex.com/contact-form"></a></p>
              <form>
                  <div class="row g-3">
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="text" class="form-control bg-transparent border border-white" id="name" placeholder="Your Name">
                              <label for="name">Your Name</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="email" class="form-control bg-transparent border border-white" id="email" placeholder="Your Email">
                              <label for="email">Your Email</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="phone" class="form-control bg-transparent border border-white" id="phone" placeholder="Phone">
                              <label for="phone">Your Phone</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="text" class="form-control bg-transparent border border-white" id="project" placeholder="Project">
                              <label for="project">Your Project</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <input type="text" class="form-control bg-transparent border border-white" id="subject" placeholder="Subject">
                              <label for="subject">Subject</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <textarea class="form-control bg-transparent border border-white" placeholder="Leave a message here" id="message" style="height: 160px"></textarea>
                              <label for="message">Message</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <button class="btn btn-light text-primary w-100 py-3">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0.5s">
              <div class="bg-transparent rounded">
                  <div class="d-flex flex-column align-items-center text-center mb-4">
                      <div class="bg-white d-flex align-items-center justify-content-center mb-3" style="width: 90px; height: 90px; border-radius: 50px;"><i class="fa fa-map-marker-alt fa-2x text-primary"></i></div>
                      <h4 class="text-dark">Addresses</h4>
                      <p class="mb-0 text-white">123 ranking Street, New York, USA</p>
                  </div>
                  <div class="d-flex flex-column align-items-center text-center mb-4">
                      <div class="bg-white d-flex align-items-center justify-content-center mb-3" style="width: 90px; height: 90px; border-radius: 50px;"><i class="fa fa-phone-alt fa-2x text-primary"></i></div>
                      <h4 class="text-dark">Mobile</h4>
                      <p class="mb-0 text-white">+012 345 67890</p>
                      <p class="mb-0 text-white">+012 345 67890</p>
                  </div>
                 
                  <div class="d-flex flex-column align-items-center text-center">
                      <div class="bg-white d-flex align-items-center justify-content-center mb-3" style="width: 90px; height: 90px; border-radius: 50px;"><i class="fa fa-envelope-open fa-2x text-primary"></i></div>
                      <h4 class="text-dark">Email</h4>
                      <p class="mb-0 text-white">info@example.com</p>
                      <p class="mb-0 text-white">info@example.com</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-xl-5 wow fadeInRight" data-wow-delay="0.3s">
              <div class="d-flex justify-content-center mb-4">
                  <a class="btn btn-lg-square btn-light rounded-circle mx-2" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-lg-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-lg-square btn-light rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-lg-square btn-light rounded-circle mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="rounded h-100">
                  <iframe class="rounded w-100" 
                  style="height: 500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd" 
                  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Contact Section -->
